/* 1 */
.main-container {
  margin-left: 10%;
  margin-right: 10%;
}

.logo-img {
  width: 25%;
  /* width: 15%; */
}

.navbar-brand {
  width: 30%;
}

.nav-link {
  color: navy !important;
}

.nav-item {
  padding-right: 4rem;
}

.dropdown {
  padding-left: 10rem;
}

.hamburger-icon {
  width: 4%;
  height: 4%;
}

/* 2 */

.div-roger-msg-signature {
  padding-top: 3%;
  margin-left: 15%;
}

.div-roger-pic-signature {
  background-color: grey;
  border-radius: 0 0 0 250px;
}

.roger-pic-signature-img {
  width: 15%;
}

.left-quote-img {
  width: 5%;
}

.roger-pic-img {
  margin-top: 11%;
  width: 59%;
  height: 84.35%;
  margin-left: 35%;
}

.p-roger-name {
  font-size: 2rem;
}

.p-roger-msg {
  width: 50%;
}

/* 3 */

.div-query-box-msg {
  margin-left: 25%;
  width: 50%;
}

.p-welcome-msg {
  font-size: 2rem;
  text-align: center;
  color: navy;
}

.div-query-box input {
  width: 100%;
  height: 55px;
  font-size: 1.25rem;
  padding-left: 10%;
  border-radius: 0 0 35px 0;
  border-style: ridge;
  border-width: 6px;
  border-color: #e8e8e8;
  background-image: linear-gradient(white, #e8e8e8);
}

.div-query-box img {
  position: absolute;
  width: 2.25%;
  margin-top: 9px;
  margin-left: 16px;
}

.p-query-msg {
  color: lightgray;
  font-style: italic;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 1.25rem;
}

.query-meet-link-btn {
  margin-top: 20px;
  margin-left: 40px;
  height: 25px;
  border-radius: 9px;
  background-color: red;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: white;
  padding-left: 14px;
  width: 150px;
}

a:hover {
  color: white;
}

/* 4 */
.div-links {
  background-color: whitesmoke;
  border-radius: 0 0 250px 0;
  margin-top: 5%;
}

.row-circular-icons {
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

.circular-icon-img {
  width: 60%;
}

.circular-icon-img-txt {
  text-align: center;
  font-size: 1.5rem;
  color: gray;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 6 */

.div-notice-announcements {
  background-color: whitesmoke;
  border-radius: 0 0 250px 0;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.notice-hr {
  width: 6%;
  margin-left: 45%;
  border: 2px solid red;
  opacity: 1;
}

.notice-heading-div {
  display: flex;
}

.notice-heading-notice-p {
  color: slateblue;
  font-size: 2.5rem;
  width: 42%;
  text-align: right;
}

.notice-heading-announcement-p {
  color: slateblue;
  font-size: 2.5rem;
  width: 49%;
  text-align: left;
}

.notice-asterik-p {
  text-align: center;
  color: red;
  font-size: 2.5rem;
  padding-top: 1%;
  width: 2%;
  margin-top: -0.5%;
}

.notice-card-big {
  border-radius: 20px;
  width: 17rem;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.2) 3.95px 3.95px 2.6px;
  margin-left: 20%;
  margin-bottom: 5%;
}

.notice-img {
  border-radius: 20px;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  height: 15vw;
  object-fit: cover;
  object-position: top;
  width: 90%;
  margin-left: 5%;
}

.notice-big-card-title {
  color: red;
  font-size: 1rem;
  font-style: italic;
}

.notice-big-card-btn {
  background-color: red;
  border: none;
  border-radius: 20px 0px 20px 0;
  right: 0;
  bottom: 0;
  line-height: 150%;
  width: 45%;
  font-size: 0.8rem;
  position: absolute;
}

.col-sm-big-card {
  margin-left: 20%;
}

.notice-big-card-name {
  color: lightgray;
  font-size: 0.7rem;
  margin-left: 20%;
  margin-top: 10%;
}

.notice-big-card-date {
  color: slateblue;
  font-size: 0.7rem;
  margin-left: 20%;
  margin-top: 10%;
}

.notice-card-small {
  border-radius: 20px;
  width: 60%;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.2) 3.95px 3.95px 2.6px;
  margin-left: -30%;
  margin-bottom: 5%;
}

.notice-small-card-title {
  color: red;
  font-size: 0.7rem;
}

.notice-small-card-text {
  font-size: 0.6rem;
}

.notice-small-card-name {
  color: lightgray;
  font-size: 0.5rem;
}

.notice-small-card-date {
  background-color: red;
  border: none;
  border-radius: 0 20px 0px 20px;
  right: 0;
  top: 0;
  line-height: 300%;
  width: 22%;
  font-size: 0.5rem;
  position: absolute;
  color: white;
}
